
 button {
    background: #f1356d;
    color: #fff;
    border: 0;
    padding: 8px;
    border-radius: 8px;
    cursor: pointer;
  }

.app__profile {
	flex: 1;
	width: 100%;
	flex-direction: column;
}

.profile-pic {
  width: 150px;
  height: 150px;
  border-radius: 100%; 
}


#imageChange{
font-size:x-small
}

